body {
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    background-color: #FFCB05;
}

nav ul {
    list-style-type: none;
    padding: 15px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #00274C;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    font-size: 48px;
    font-family: Helvetica, sans-serif;
    letter-spacing: -1px;
}

/*figure out how to hide skip to main*/
.skip {
    position: absolute;
    top: -40px;
    left: 0;
}

.skip:focus {
    top: -25px;
    background: #FFCB05
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

header {
    background-color: #00274C;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container section .text1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.text2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.resume-image {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.resume-image img {
    width: 50%;
    height: auto;
}