body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #00274C;
}

.menu-style {
    background-color: #00274C;
}

.menu-style a.active {
    background-color: #00274C;
    color: #FFCB05;
}

.menu-style ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.menu-style ol {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.menu-style li {
    background-color: #FFCB05;
    margin: 20px 0;
    border: solid 2px #00274C;
}

.menu-style a {
    display: block;
    color: #00274C;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 10px;
}

.menu-style a:focus,
.menu-style a:hover {
    background-color: #00274C;
    color: #FFCB05;
}

.menu-style li:hover,
.menu-style li:focus {
    background-color: #00274C;
}

.text2.menu-style {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.text2.menu-style li {
    background-color: #FFCB05;
}

.text3.menu-style {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.text3.menu-style li {
    background-color: #FFCB05;
}

.text3 h3 {
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 0;
}

.text3 p {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 10px;
}

.text4.menu-style {
    background-color: white;
}

.text4.menu-style li {
    background-color: #FFCB05;
}

h1 {
    font-size: 48px;
    font-family: Helvetica, sans-serif;
    letter-spacing: -1px;
    text-align: center;
    grid-column: 1 / -1;
    /* Span all columns */
    grid-row: 1;
    /* Always place at the top */
    margin-bottom: 20px;
}

/*figure out how to hide skip to main*/
.skip a {
    position: absolute;
    left: 0;
    top: -100px;
    /* hidden initially */
    background: #FFCB05;
    color: #00274C;
    padding: 8px 16px;
    z-index: 1000;
    /* make sure it appears above other content */
    text-decoration: none;
}

.skip a:focus {
    top: 0;
    /* move into view */
}

:focus {
    border: dashed #00274C 2px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    /* Let rows size to content */
    gap: 20px;
    /* Add space between grid items */
    padding: 30px 30px 0 30px;
}

header {
    background-color: #00274C;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Home page specific layouts */
.page-home .container section:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 2;
}

.page-home .container section:nth-of-type(2) {
    grid-column: 1 / 5;
    grid-row: 4;
}

.page-home .youtube-video {
    grid-column: 1 / 5;
    grid-row: 3;
}

.page-home .container section:nth-of-type(3) {
    grid-column: 1 / 5;
    grid-row: 5;
}

.page-home .text5 {
    grid-column: 1 / 5;
    grid-row: 6;
}

.page-home .home-image {
    grid-column: 1 / 5;
    grid-row: 7;
    margin-top: 20px;
}

/* Resume page specific layouts */
.page-resume .container section:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.page-resume .container section:nth-of-type(2) {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

/* Networking page specific layouts */
.page-networking .container section:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 2;
}

.page-networking .container section:nth-of-type(2) {
    grid-column: 1 / 5;
    grid-row: 3;
}

.page-networking .container section:nth-of-type(3) {
    grid-column: 1 / 5;
    grid-row: 4;
}

.page-networking .container section:nth-of-type(4) {
    grid-column: 1 / 5;
    grid-row: 5;
}

.page-networking .text5 {
    grid-column: 1 / 5;
    grid-row: 6;
}

.page-networking .networking-festifall {
    grid-column: 1 / 5;
    grid-row: 7;
    margin-top: 20px;
}

.page-networking .networking-orientation {
    grid-column: 1 / 5;
    grid-row: 8;
    margin-top: 20px;
}

/* Portfolio page specific layouts */
.page-portfolio .container section:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 2;
}

.page-portfolio .container section:nth-of-type(2) {
    grid-column: 1 / 5;
    grid-row: 3;
}

.page-portfolio .container section:nth-of-type(3) {
    grid-column: 1 / 5;
    grid-row: 4;
}

.page-portfolio .container section:nth-of-type(4) {
    grid-column: 1 / 5;
    grid-row: 5;
}

.page-portfolio .text5 {
    grid-column: 1 / 5;
    grid-row: 6;
    margin-top: 20px;
}

.text2 ul {
    list-style-type: none;
    padding-left: 0;
}

.text2 ol {
    list-style-type: none;
    padding-left: 0;
}

.text2 li {
    margin-bottom: 10px;
}

.container section:nth-of-type(3) {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

.text3 ul {
    list-style-type: none;
    padding-left: 0;
}

.text3 ol {
    padding-left: 10px;
}

.text3 li {
    margin-bottom: 10px;
    align-content: center;
}

.container section:nth-of-type(4) {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

.text4 ul {
    list-style-type: none;
    padding-left: 0;
}

.text4 ol {
    padding-left: 10px;
}

.text4 li {
    margin-bottom: 20px;
}

.text5 {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

.text5 a {
    color: #00274C;
}


.resume-image {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
}

.resume-image img {
    width: 100%;
    height: auto;
}

.youtube-video {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-top: 20px;
}

.youtube-video iframe {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    background-color: #00274C;
    color: white;
    text-align: center;
    padding: 10px 0;
    grid-column: 1 / 5;
    grid-row: 7 / 8;
    margin-top: 20px;
}

footer a {
    color: white;
}

.home-image {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

.home-image img {
    width: 100%;
    height: auto;
}

.networking-festifall {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    margin-top: 20px;
}

.networking-festifall img {
    width: 100%;
    height: auto;
}

.networking-orientation {
    grid-column: 1 / 5;
    grid-row: 7 / 8;
    margin-top: 20px;
}

.networking-orientation img {
    width: 100%;
    height: auto;
}

@media screen and (min-width:1024px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background-color: #00274C;
        padding-top: 20px;
    }

    header img {
        width: 150px;
        margin-bottom: 20px;
    }

    main {
        margin-left: 250px;
    }

    footer {
        margin-left: 250px;
    }

    /* Desktop layouts for each page */

    /* Home page desktop layout */
    .page-home .container h1 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }

    .page-home .container section:nth-of-type(1) {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }

    .page-home .container section:nth-of-type(2) {
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }

    .page-home .youtube-video {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        margin: 20px;
    }

    .page-home .home-image {
        grid-column: 1 / 5;
        grid-row: 6 / 7;
    }

    .page-home .container section:nth-of-type(3) {
        grid-column: 1 / 5;
        grid-row: 5 / 6;
    }

    .page-home .text5 {
        grid-column: 1 / 5;
        grid-row: 7 / 8;
    }

    /* Resume page desktop layout */
    .page-resume .container section:nth-of-type(1) {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .page-resume .container section:nth-of-type(2) {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
    }

    .page-resume .container section:nth-of-type(3) {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }

    /* Networking page desktop layout */
    .page-networking .container section:nth-of-type(1) {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }

    .page-networking .container section:nth-of-type(2) {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .page-networking .container section:nth-of-type(3) {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }

    /* Portfolio page desktop layout */
    .page-portfolio .container section:nth-of-type(1) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .page-portfolio .container section:nth-of-type(2) {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

    .page-portfolio .container section:nth-of-type(3) {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }

}